
@{
    ViewBag.Title = "Index";
}

<h2>Weather</h2>
City Name: <p id="name"></p>
<hr />
Temperature: <p id="temp"></p>
Humidity: <p id="humidity"></p>

<button id="buttonId">Get Weather</button>

@*@section scripts{
   <script src="~/Scripts/Home/weather.js" type="text/javascript"></script>
     }*@