@model WebApplication1.ViewModels.Home.WeatherViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Weather</h2>
<p>City Name: @Model.CityName</p>
<p>Temperature: @Model.Temperature</p>
<p>Humidity: @Model.Humidity</p>